<mat-toolbar color="primary">
  Bird Watcher
</mat-toolbar>

<div class="container">
  <mat-card class="control-panel">
    <button mat-raised-button
            [ngStyle]="{
              'background-color': recording ? 'red' : 'green',
              'color': 'white'
            }"
            (click)="toggleRecording()">
      {{ recording ? 'Stop' : 'Start' }} Recording
    </button>
  </mat-card>

  <div class="main-content">
    <mat-card class="canvas-container">
      <canvas id="birdCanvas"></canvas>
    </mat-card>

    <mat-card *ngIf="mostFrequentBird !== null && latestFirstSightingBird !== null" class="stats-panel">
      <mat-card-header>
        <mat-card-title>Statistics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="stat-item">Most Frequent Bird: <span>{{ mostFrequentBird }}</span></p>
        <p class="stat-item">Latest First Sighting Bird: <span>{{ latestFirstSightingBird }}</span></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
