.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.control-panel {
    width: 80%;
    margin: 10px 0;
    padding: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.canvas-container {
    flex: 2;
    margin: 10px;
    padding: 20px;
}

#birdCanvas {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
}

.stats-panel {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
}

.stats-panel mat-card-header {
    background-color: #3f51b5;
    color: white;
}

.stats-panel mat-card-title {
    font-size: 24px;
}

.stat-item {
    font-size: 18px;
    margin: 10px 0;
}

.stat-item span {
    font-weight: bold;
    color: #3f51b5;
}

.mat-mdc-card-content {
    padding-top: 15px;
}